<h2>{{localize 'BITD.EndSessionCheatSheet'}}</h2>
<p>{{{localize 'BITD.EndSessionDescription'}}}</p>

<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.EndSessionSquadXP'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.EndSessionRivalXP'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.EndSessionRivalDeath'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.EndSessionPilotXP'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <div>
    <label>{{{localize 'BITD.EndSessionMissionComplete'}}}</label>
  </div>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.EndSessionMentalCheck'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.EndSessionLikeDislikeCheck'}}}</label>
</div>