<h2>{{localize 'BITD.StartMission'}}</h2>
<p>{{{localize 'BITD.StartMissionDescription'}}}</p>

<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.StartMissionPrepareMission'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.StartMissionRemainingDowntime'}}}</label>
</div>
{{#if (ne extraData.a_little_something_on_the_side '')}}
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.StartMissionALittleSomethingOnTheSide' members=extraData.a_little_something_on_the_side tier=extraData.tier}}}</label>
</div>
{{/if}}
<div class="form-group-inline">
  <input type="checkbox" class="automated" name="cutLooseScar"{{#if (gt extraData.scarred_pilots_count 0)}} checked{{/if}}>
    <div>
      <label>{{{localize 'BITD.StartMissionNoCutLooseScar'}}}</label>
      <div class="flex-horizontal actor-contents">
        <label>{{localize 'BITD.Pilot'}}:</label>
        {{#if (gt extraData.scarred_pilots_count 0)}}
        <select name="cutLooseScarPilots" data-tooltip="{{localize 'BITD.MultipleSelectUsage'}}" size="{{extraData.scarred_pilots_count}}" multiple>
          {{{extraData.scarred_pilots}}}
        </select>
        {{else}}
        {{localize 'BITD.None'}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.StartMissionSupplyPoints'}}}</label>
</div>
<div class="form-group-inline">
  <input type="checkbox" checked>
  <label>{{{localize 'BITD.StartMissionEngagement'}}}</label>
</div>