<div class="dice-tooltip blades-die-tooltip">
  {{#if attribute_label}}<div class="chat-label label-stripe-chat">{{localize attribute_label}}</div>{{/if}}
  {{#if extraFields.position}}
    <div class="chat-label-small label-stripe-chat-small">
      {{{localize position_localize}}} | {{{localize effect_localize}}} {{#if zeromode}}| 0d {{/if}}{{#if (or extraFields.dire extraFields.vehicleDire)}}| {{localize 'BITD.DireAction'}} {{/if}}
    </div>
  {{/if}}

  {{#if (eq roll_status "critical-success")}}
  <div class="die {{roll_status}}">{{localize 'BITD.RollCriticalSuccess'}}</div>
  <div class="description">
    {{#if (or extraFields.dire extraFields.vehicleDire)}}
    {{#if extraFields.dire}}
    <p>{{{localize 'BITD.RollDoDireCritical'}}}</p>
    {{/if}}
    {{#if extraFields.vehicleDire}}
    <p>{{{localize 'BITD.RollDoDireVehicleCritical'}}}</p>
    {{/if}}
    {{else}}
    <p>{{{localize 'BITD.RollDoWithIncreasedEffect'}}}</p>
    {{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "success")}}
  <div class="die {{roll_status}}">{{localize 'BITD.RollSuccess'}}</div>
  <div class="description">
    <p>
      {{{localize 'BITD.RollDo'}}}
      {{#if extraFields.dire}}
      {{{localize 'BITD.RollDireSuccess'}}}
      {{/if}}
      {{#if extraFields.vehicleDire}}
      {{{localize 'BITD.RollDireVehicleSuccess'}}}
      {{/if}}
    </p>
  </div>
  {{/if}}

  {{#if (eq roll_status "partial-success")}}
  <div class="die {{roll_status}}">{{localize 'BITD.RollPartialSuccess'}}</div>
  <div class="description">
    <p>
      {{#if (eq extraFields.position "controlled")}}
      {{{localize 'BITD.RollPartialSuccessPositionControlled'}}}
      {{else if (eq extraFields.position "risky")}}
      {{{localize 'BITD.RollPartialSuccessPositionRisky'}}}
      {{else}}
      {{{localize 'BITD.RollPartialSuccessPosition'}}}
      {{/if}}
    </p>
    {{#if extraFields.dire}}
    {{#if extraFields.lastStand}}
    <p>{{{localize 'BITD.RollDireSuccess'}}}</p>
    {{else}}
    <p>{{{localize 'BITD.RollDireFailure'}}}</p>
    {{/if}}
    {{/if}}
    {{#if extraFields.vehicleDire}}
    {{#if extraFields.lastStand}}
    <p>{{{localize 'BITD.RollDireVehicleSuccess'}}}</p>
    {{else}}
    <p>{{{localize 'BITD.RollDireVehicleFailure'}}}</p>
    {{/if}}
    {{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "failure")}}
  <div class="die {{roll_status}}">{{localize 'BITD.RollFailure'}}</div>
  <div class="description">
    <p>
      {{#if (eq extraFields.position "controlled")}}
      {{{localize 'BITD.RollFailurePositionControlled'}}}
      {{else if (eq extraFields.position "risky")}}
      {{{localize 'BITD.RollFailurePositionRisky'}}}
      {{else}}
      {{{localize 'BITD.RollFailurePositionDesperate'}}}
      {{/if}}
    </p>
    {{#if extraFields.dire}}
    <p>{{{localize 'BITD.RollDireFailure'}}}</p>
    {{/if}}
    {{#if extraFields.vehicleDire}}
    <p>{{{localize 'BITD.RollDireVehicleFailure'}}}</p>
    {{/if}}
  </div>
  {{/if}}

  <div class="description">
    {{#if (getSetting 'Edge')}}
    {{#if edge}}
    <p>{{{localize 'BITD.GainEdge'}}}</p>
    {{/if}}
    {{/if}}
  </div>

  {{#if extraFields.modifier_text}}
  <div class="description">
    <p>{{{extraFields.modifier_text}}}</p>
  </div>
  {{/if}}

  {{#if note}}
  <em>{{note}}</em>
  {{/if}}

  <ol class="dice-rolls">
    {{#each this.rolls}}
    {{#if this.result}}
    <li class="roll die d6 {{../this.color}}"{{#if (eq this.result 6)}}style="color: green;"{{else if (eq this.result 3)}}style="color: red;"{{else if (eq this.result 2)}}style="color: red;"{{else if (eq this.result 1)}}style="color: red;"{{/if}}>{{{this.result}}}</li>
    {{else}}
    <li class="roll die d6">{{{this.roll}}}</li>
    {{/if}}
    {{/each}}

    {{#if @root.method}}
    {{#unless (eq @root.method.type "mersenne")}}
    <li class="roll method" data-tooltip="{{localize @root.method.label}}">{{{ @root.method.icon }}}</li>
    {{/unless}}
    {{/if}}
  </ol>

  {{#if (and (not extraFields.hasPushYourself) extraFields.actor.system.carry_that_weight)}}
  <div class="button speaker-only">
    <button class="carry-that-weight-push-yourself">{{localize 'BITD.CarryThatWeightPushYourself'}}</button>
  </div>
  {{/if}}
  {{#if (and (not extraFields.hasAssist) extraFields.anyoneElseHasCarryThatWeight)}}
  <div class="button carry-that-weight-assist-block">
    <label><b>{{localize 'BITD.CarryThatWeightAssistTitle'}}</b></label>
    <span class="tactical-genius flex-horizontal">
      <label>{{localize 'BITD.TacticalGenius'}}</label>
      <input type="checkbox" name="BITD.TacticalGenius">
    </span>
    <span class="combined-arms flex-horizontal">
      <label>{{localize 'BITD.CombinedArms'}}</label>
      <input type="checkbox" name="BITD.CombinedArms">
    </span>
    <span class="flex-horizontal">
      <span class="bonuses flex-horizontal">
        <label>{{localize 'BITD.None'}}</label>
        <select data-field="BITD.Effects" data-tooltip="BITD.MultipleSelectUsage" multiple>
          <option value="BITD.ExtraDie" selected>{{localize 'BITD.ExtraDie'}}</option>
          <option value="BITD.ImprovedPosition">{{localize 'BITD.ImprovedPosition'}}</option>
          <option value="BITD.ImprovedEffect">{{localize 'BITD.ImprovedEffect'}}</option>
          <option value="BITD.IgnoreHarmDamage">{{localize 'BITD.IgnoreHarmDamage'}}</option>
        </select>
      </span>
    </span>
    <button class="carry-that-weight-assist">{{localize 'BITD.CarryThatWeightAssist'}}</button>
  </div>
  {{/if}}
</div>
