<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img src='{{img}}' data-edit='img' data-tooltip='{{name}}'/>
    <div class='header-fields'>
      <h1 class='charname'><input name='name' type='text' value='{{name}}' placeholder='{{localize 'BITD.Name'}}'/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class='sheet-body flex'>
    {{#if editable}}
      <prose-mirror name="system.description" button="true" editable="{{editable}}" toggled="false" value="{{system.description}}">
        {{{system.description}}}
      </prose-mirror>
    {{else}}
      {{{system.description}}}
    {{/if}}
  </section>
  <div class='flex-vertical'>
    <div class='flex-horizontal'>
      <div class='two-line'>
        <label class='label-stripe'>{{localize 'BITD.SquadType'}}</label>
        <input type='text' name='system.class' value='{{system.class}}'>
      </div>
      <div class='two-line'>
        <label class='label-stripe'>{{localize 'BITD.Price'}}</label>
        <input type='number' name='system.price' onkeypress='return BladesHelpers.isNumberKey(event)' value='{{system.price}}'>
      </div>
    </div>
    {{#if isGM}}
      <!-- <div class='label-stripe'>{{localize 'BITD.Logic'}}</div> -->
      <!-- <textarea name='system.logic'>{{{system.logic}}}</textarea> -->
      <div class='label-stripe'>{{localize 'BITD.Effects'}}</div>
      <div id='effects'>{{> 'systems/beamsaber/templates/parts/active-effects.html'}}</div>
    {{/if}}
  </section>
</form>
